<div>
  <button mat-raised-button
          class="editor-open-tab-button"
          (click)="openTab('test1.simple')">
    Open test1.simple
  </button>
  <button mat-raised-button
          class="editor-open-tab-button"
          (click)="openTab('test2.simple')">
    Open test2.simple
  </button>
  <button mat-raised-button
          class="editor-open-tab-button"
          (click)="openTab('test3.simple')">
    Open test3.simple
  </button>
</div>
<mat-tab-group [selectedIndex]="selected.value"
               (selectedIndexChange)="selected.setValue($event)"
               dynamicHeight>
  <mat-tab *ngFor="let tab of tabs" [label]="tab">
    <ng-template mat-tab-label>
      {{tab}}
      <mat-icon class="editor-tab-close-icon" (click)="closeTab(tab)">close</mat-icon>
    </ng-template>
    <spring-dsl-editor class="editor-tab-content"></spring-dsl-editor>
  </mat-tab>
</mat-tab-group>
